<!--
  Title: login.html
  Structure for Login/Register Page, which allows users to login or register
-->

<!DOCTYPE html>
<html>

<head>
  <link href="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.css" rel="stylesheet">
  <link href="login.css" rel="stylesheet">
  <link href="index.html">
  <link href="browse.html">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ScholarSearch</title>
</head>

<body>
  <div id="app"> 

    <!--Login Side-->
    <div id="left-side">

      <vs-button id="Home" onclick="document.location='./'">
        Back Home
      </vs-button>
      <h1 id="Login-Title">
        Login
      </h1>
      <hr id="left-line">

      <!--User Login Information-->
      <h2 class="left">
        Email
      </h2>
      <vs-input
        id="email"
        v-model="value"
        class="input"
        shadow
        placeholder="john.doe@gmail.com"
        type="text"
      >
        <template v-if="validEmail" #message-success>
          Email Valid
        </template>
        <template v-if="!validEmail && value !== ''" #message-danger>
          Email Invalid
        </template>
      </vs-input>

      <h2 class="left">
        Password
      </h2>
      <vs-input
        v-model="value2"
        id="password"
        class="input"
        type= "password"
        shadow
        placeholder="Password123"
      >
      </vs-input>

      <!--Message & Submit Button-->
      <h1 id="message">
        Great to see you again!
      </h1>
      <vs-button id="Login-Button" @click="checkLogin()">
        Start Searching
      </vs-button>
      <h3 id="error">
        Your email and/or password is incorrect. Please try logging in again. Don't have an account? Please register for one on the right.
      </h3>

      <!--Darkmode Switch-->
      <vs-switch
        @click="theme()"
        class="switch"
        color="#add8e6"
        v-model="themeSwitch"
      >
        <template #off>
          <i class="bx-bxs-moon"> </i>
        </template>
        <template #on>
          <i class="bx-bxs-sun"> </i>
        </template>
      </vs-switch>

    </div>

    <!--Register Side-->
    <div id="right-side">
      <div id="Scholar-Search-Logo">
        <img id="Logo" src="/assets/scholarsearch.png" alt="Scholar Search Logo">
      </div>
      <h1 id="Register-Title">
        Register
      </h1>
      <hr id="right-line">

      <!--User Register Information-->
      <h2 class="right">
        Name:<span class="span">*</span>
      </h2>
      <vs-input
        v-model="value3"
        class="inputr"
        shadow
        placeholder="John Doe"
        type="text"
      >
    </vs-input>

      <h2 class="right">
        Email:<span class="">*</span>
      </h2>
      <vs-input
        v-model="value4"
        class="inputr"
        shadow
        placeholder="john.doe@gmail.com"
        type="text"
      >
        <template v-if="validEmail2" #message-success>
          Email Valid
        </template>
        <template v-if="!validEmail2 && value4 !== ''" #message-danger>
          Email Invalid
        </template>
      </vs-input>

      <h2 class="right">
        Password:<span style="color:#7275a5">*</span>
      </h2>
      <vs-input
        v-model="value5"
        class="inputr"
        shadow
        placeholder="Password123"
        type="password"
      >
        <template v-if="validPassword" #message-success>
          Valid Password
        </template>
        <template v-if="!validPassword && value5 !== ''" #message-danger>
          {{passwordError}}
        </template>
      </vs-input>

      <h2 class="right">
        Desired University:
      </h2>
      <vs-select
        v-model="value6"
        class="input right-side"
        id="uni"
        filter
        placeholder="ABC University"
      >
        <vs-option label="Algoma University" value="Algoma University">
          Algoma University
        </vs-option>
        <vs-option label="Brock University" value="Brock University">
          Brock University
        </vs-option>
        <vs-option label="Carleton University" value="Carleton University">
          Carleton University
        </vs-option>
        <vs-option label="University of Guelph" value="University of Guelph">
          University of Guelph
        </vs-option>
        <vs-option label="University of Guelph-Humber" value="University of Guelph-Humber">
          University of Guelph-Humber
        </vs-option>
        <vs-option label="Université de Hearst" value="Université de Hearst">
          Université de Hearst
        </vs-option>
        <vs-option label="Lakehead University" value="Lakehead University">
          Lakehead University
        </vs-option>
        <vs-option label="Laurentian University" value="Laurentian University">
          Laurentian University
        </vs-option>
        <vs-option label="McMaster University" value="McMaster University">
          McMaster University
        </vs-option>
        <vs-option label="Nipissing University" value="Nipissing University">
          Nipissing University
        </vs-option>
        <vs-option label="OCAD University" value="OCAD University">
          OCAD University
        </vs-option>
        <vs-option label="Université de l'Ontario" value="Université de l'Ontario">
          Université de l'Ontario
        </vs-option>
        <vs-option label="Ontario Tech University" value="Ontario Tech University">
          Ontario Tech University
        </vs-option>
        <vs-option label="University of Ottawa" value="University of Ottawa">
          University of Ottawa
        </vs-option>
        <vs-option label="Saint Paul University" value="Saint Paul University">
          Saint Paul University
        </vs-option>
        <vs-option label="Queen's University" value="Queen's University">
          Queen's University
        </vs-option>
        <vs-option label="Royal Military College of Canada" value="Royal Military College of Canada">
          Royal Military College of Canada
        </vs-option>
        <vs-option label="Ryerson University" value="Ryerson University">
          Ryerson University
        </vs-option>
        <vs-option label="Toronto University" value="Toronto University">
          Toronto University
        </vs-option>
        <vs-option label="Trent University" value="Trent University">
          Trent University
        </vs-option>
        <vs-option label="Waterloo University" value="Waterloo University">
          Waterloo University
        </vs-option>
        <vs-option label="Conrad Gebrel University" value="Conrad Gebrel University">
          Conrad Gebrel University
        </vs-option>
        <vs-option label="Renison University" value="Renison University">
          Renison University
        </vs-option>
        <vs-option label="St Jerome's University" value="St Jerome's University">
          St Jerome's University
        </vs-option>
        <vs-option label="St Paul's University" value="St Paul's University">
          St Paul's University
        </vs-option>
        <vs-option label="Western University" value="Western University">
          Western University
        </vs-option>
        <vs-option label="Huron University" value="Huron University">
          Huron University
        </vs-option>
        <vs-option label="King's University" value="King's University">
          King's University
        </vs-option>
        <vs-option label="Wilfred Laurier University" value="Wilfred Laurier University">
          Wilfred Laurier University
        </vs-option>
        <vs-option label="University of Windsor" value="University of Windsor">
          University of Windsor
        </vs-option>
        <vs-option label="York University" value="York University">
          York University
        </vs-option>
      </vs-select>

      <h2 class="right text">
        Discipline:
      </h2>
      <vs-select
        v-model="value7"
        class="input right-side"
        id="dis"
        filter
        placeholder="All"
      >
        <vs-option label="Animal, Plants, and Food Studies" value="Animal, Plants, and Food Studies">
          Animal, Plants, and Food Studies
        </vs-option>
        <vs-option label="Architecture" value="Architecture">
          Architecture
        </vs-option>
        <vs-option label="Arts and Design" value="Arts and Design">
          Arts and Design
        </vs-option>
        <vs-option label="Biology" value="Biology">
          Biology
        </vs-option>
        <vs-option label="Business" value="Business">
          Business
        </vs-option>
        <vs-option label="Computer Science" value="Computer Science">
          Computer Science
        </vs-option>
        <vs-option label="Cultures and Languages" value="Cultures and Languages">
          Cultures and Languages
        </vs-option>
        <vs-option label="Education" value="Education">
          Education
        </vs-option>
        <vs-option label="Engineering" value="Engineering">
          Engineering
        </vs-option>
        <vs-option label="Historical, Philosophical, and Religious Studies" value="Historical, Philosophical, and Religious Studies">
          Historical, Philosophical, and Religious Studies
        </vs-option>
        <vs-option label="Mass Communications" value="Mass Communications">
          Mass Communications
        </vs-option>
        <vs-option label="Mathematics" value="Mathematics">
          Mathematics
        </vs-option>
        <vs-option label="Medicine" value="Medicine">
          Medicine
        </vs-option>
        <vs-option label="Physical Sciences" value="Physical Science">
          Physical Sciences
        </vs-option>
        <vs-option label="Social Sciences" value="Social Sciences">
          Social Sciences
        </vs-option>
        <vs-option label="Technology" value="Technology">
          Technology
        </vs-option>
      </vs-select>

      <p>
        Mandatory fields are marked with a <span>*</span>. Optional fields will <br> allow us to recommend relevant scholarships to you.
      </p>
      <h3 id="regError">
        Your name, email, and/or password is invalid. Please check your entries and try again.
      </h3>
      <vs-button id="Create-Account" @click="checkRegistration()">
        Create Account
      </vs-button>
        
    </div>

  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.js"></script>
  <script src="login.js"></script>

</body>
</html>