/*
Title: profile.css
Stylesheet for profile.html
*/

@font-face {
    font-family: kollektifbold;
    src: url(/assets/Kollektif.ttf);
}

/* Light Mode */

#app {
  font-family: kollektifbold;
}

body {
  background-image: url('/assets/profilebg.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.navtext {
  text-align: center;
  font-family: inherit;
  font-size: 20px;
}

#titles {
  text-align: center;
  margin-right: -100px;
}

.avatar {
  background-color: #5e548e;
  height: 60px;
  width: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 242px;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  z-index: 5;
  font-family: kollektifbold;
  font-size: 20px;
}

#header-logo {
  color: #5e548e;
  font-size: 30px;
  padding-bottom: 0;
  width: 192px;
  margin-left: 0px;
  margin: auto;
}

footer {
  display:grid;
  grid-template: 100px / 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
  bottom: 0;
  width: 100%;
  background-color: #5e548e;
}

#Footer-Logo {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  justify-self: left;
  height: 70px;
  margin-left: 20px;
  width: auto;
}

.footer-text {
  font-size: 24px;
  color: white;
  background-color: #5e548e;
  border-color:transparent;
  text-align: center;
  align-self: center;
  margin: auto;
  font-family:inherit;
}

.footer-text:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.15em);
}

#footer-home {
  grid-area: 1 / 2 / 2 / 3;
}

#footer-about {
  grid-area: 1 / 3 / 2 / 4;
}

#footer-for {
  grid-area: 1 / 4 / 2 / 5;
}

#footer-profile {
  grid-area: 1 / 5 / 2 / 6;
}

#footer-bookmark {
  grid-area: 1 / 6 / 2 / 7;
}

h1 {
  font-size: 56px;
  color: #5e548e;
  text-align: center;
  margin-top: 150px;
}

h2 {
  font-size: 36px;
  color: #7275a5;
  text-align: center;
  margin-top: 30px;
}

.scholarships {
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 400px;
  height: 670px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.switch {
  width: 75px;
  height: 40px;
  color: #add8e6;
  left: 20px;
  background-color: #7275a5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.switch:hover{
  background-color: #7275a5
}

.bx-bxs-moon {
  content: url('https://api.iconify.design/bx-bxs-moon.svg?color=White&height=20');
  vertical-align: -0.125em;
}
.bx-bxs-sun {
  content: url('https://api.iconify.design/bx-bxs-sun.svg?height=20');
  vertical-align: -0.125em;
}

.scholarships .scholarship-card {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  position: relative;
  width: 93%;
  height: 95%;
  margin: auto;
  top: 2.5%;
}

p {
  word-wrap: break-word;
  width: 700px;
  margin-left: 30px;
  font-size: 14px;
  padding-bottom: 40px;
  line-height: 1.5em;
}

h3 {
  font-size: 20px;
  color: #add8e6;
  text-align: left;
  margin-left: 40px;
}

#name {
  padding-top: 30px;
}

.input {
  width: 300px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: inset 0 0 5px #dddddd;
  border-radius: 20px;
  margin: auto;
}

.drop {
  width: 300px;
  margin-left: 40px;
}

#savechanges {
  border-radius: 20px;
  height: 40px;
  width: 160px;
  margin-left: 100px;
  background-color: #7275a5;
  margin-top: 50px;
  font-family: inherit;
  margin-bottom: 25px;
}

#savechanges:hover {
  background-color: #7275a5;
}

#bookmarks {
  border-radius: 20px;
  height: 40px;
  width: 160px;
  font-family: inherit;
  background-color: #7275a5;
}

#bookmarks:hover {
  background-color: #7275a5;
}

#logout-button {
  border-radius: 20px;
  height: 40px;
  width: 160px;
  background-color: #7275a5;
  font-family: inherit;
}

#logout-button:hover {
  background-color: #7275a5;
}

#bookmark-counter {
  position: relative;
  border-radius: 20px;
  background: #add8e6;
  border-color: transparent;
  float: right;
  margin-top: -20px;
  z-index:2;
}

#outer {
  width:100%;
  text-align: center;
  margin-top: 40px;
}

.inner {
  display: inline-block;
  z-index:1;
}

.dropdown {
  position: relative;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px #ADD8E6;
  right: 0;
  border-radius: 15px;
  margin-top: -30px;
  z-index: -1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #7275a5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

/* Dark Mode */

body.dark-theme{
  background-image: url('/assets/profiledark.png');
}

body.dark-theme #navbar {
  background-color: #5e548e;
}

body.dark-theme .navtext {
  color: black;
}

body.dark-theme .avatar {
  background-color: #add8e6;
  color: #000;
}

body.dark-theme #header-logo {
  color: #add8e6;
}

body.dark-theme footer {
  background-color: #add8e6;
}

body.dark-theme .footer-text {
  color: black;
  background-color: #add8e6;
}

body.dark-theme h1 {
  color: #ADD8E6;
}

body.dark-theme h2 {
  color: #add8e6;
}

body.dark-theme .scholarships {
  background-color: #222222;
}

body.dark-theme .scholarship-card {
  background-color: black;
}

body.dark-theme .input {
  background-color: white;
}

body.dark-theme h3 {
  color: #add8e6;
}

body.dark-theme #savechanges{
  background-color: #5e548e;
}

body.dark-theme #bookmarks {
  background-color: #add8e6;
  color: #000
}

body.dark-theme #bookmarks:hover {
  background-color: #add8e6;
}

body.dark-theme #logout-button {
  background-color: #ADD8E6;
  color: #000
}

body.dark-theme #logout-button:hover {
  background-color: #add8e6;
}

body.dark-theme #bookmark-counter {
  background: #5e548e;
  color: #ffffff
}

body.dark-theme .dropdown-content {
  background-color: #161616;
  box-shadow: 0px 8px 16px 0px #5e548e;
}

body.dark-theme .dropdown-content a {
  color: #7275a5;
}

body.dark-theme #logout {
  color: #add8e6;
}

/* Change color of dropdown links on hover */
body.dark-theme .dropdown-content a:hover {
  background-color: #282828;
}