@font-face {
    font-family: kollektifbold;
    src: url(/assets/Kollektif.ttf);
  }

#app {
    font-family: kollektifbold;
}

.navtext {
    font-size: 24px;
    text-align: center;
    font-family: inherit;
}
#avatar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 132px;
}
#header-logo {
    color: #5e548e;
    font-size: 30px;
    margin: auto;
}

footer {
  display:grid;
  grid-template: 100px / 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
  bottom: 0;
  width: 100%;
  background-color: #5e548e;
}

#Footer-Logo {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  justify-self: left;
  height: 130px;
  width: auto;
}
.footer-text {
  font-size: 24px;
  color: white;
  background-color: #5e548e;
  border-color:transparent;
  text-align: center;
  align-self: center;
  margin: auto;
  font-family:inherit;
}
.footer-text:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.15em);
}
#footer-home {
  grid-area: 1 / 2 / 2 / 3;
}
#footer-about {
  grid-area: 1 / 3 / 2 / 4;
}
#footer-for {
  grid-area: 1 / 4 / 2 / 5;
}
#footer-profile {
  grid-area: 1 / 5 / 2 / 6;
}
#footer-bookmark {
  grid-area: 1 / 6 / 2 / 7;
}
h1 {
    font-size: 56px;
    color: #5e548e;
    text-align: center;
    margin-top: 150px;
}
h2 {
    font-size: 36px;
    color: #7275a5;
    text-align: center;
    margin-top: 30px;
}
#searching {
  width: 100%;
  text-align: center;
}
.search {
  width: 750px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family : inherit;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: inset 0 0 5px #dddddd;
  border-radius: 20px;
  color: #000000;
  display:inline-block;
}

#search-button {
  height:40px;
  width: 50px;
  display: inline-block;
  background-color: #7275a5;
  margin-left: 50px;
  border-radius: 20px;
  border-color: transparent;
}
#grid-section {
  display:grid;
  grid-template: 40px 300px 1fr / 100px 200px 3fr 100px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
#Sort {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 20px;
  background-color: rgba(196, 196, 196, 0.2);
}
#Filter {
  grid-area: 2 / 2 / 3 / 3;
  border-radius: 20px;
  background-color: rgba(196, 196, 196, 0.2);
  font-family: inherit;
}
#scholarships {
  grid-area: 1 / 3 / 4 / 4;
  background: linear-gradient(180deg, #ADD8E6 0%, rgba(255, 255, 255, 0) 100%), #7275A5;
  border-radius: 20px;
}
.switch {
  width: 75px;
  height: 40px;
  color: #add8e6;
  left: 20px;
  background-color: #7275a5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.switch:hover{
  background-color: #7275a5
}

.bx-bxs-moon {
  content: url('https://api.iconify.design/bx-bxs-moon.svg?color=White&height=20');
  vertical-align: -0.125em;
}
.bx-bxs-sun {
  content: url('https://api.iconify.design/bx-bxs-sun.svg?height=20');
  vertical-align: -0.125em;
}
.Sort-By {
  font-family: inherit;
}

.Filter-By {
  font-family: inherit;
}
.University {
  margin-bottom: 20px;
}
.Discipline {
  margin-bottom: 20px;
}
.Renewable {
  margin-bottom: 20px;
}
.Level {
  margin-bottom: 20px;
}
.Application {
  margin-bottom: 20px;
}
#scholarship-card {
  margin: 20px;
  background-color: white;
  border-radius: 20px;
}
h3 {
  font-size: 28px;
  color: #5e548e;
  padding-top: 50px;
  margin-left: 30px;
}
h4 {
  font-size: 18px;
  color: #5e548e;
  text-align: right;
  margin-right: 30px;
}
h5 {
  font-size: 18px;
  color: #5e548e;
  text-align: right;
  margin-right: 30px;
  margin-top: 15px;
}
#university-name, #discipline-name, #amount {
  display: inline-block;
  width: auto;
  border-radius: 20px;
  padding: 10px 20px;
}
#university-name {
  margin-left: 30px;
  color: black;
  background-color: #add8e6;
}
#discipline-name {
  color: white;
  background-color: #7275a5;
}
#amount {
  color: white;
  background-color: #5e548e;
}
#right-top {
  float: right;
  margin-right: 30px;
  text-align: right;
  font-size: 16px;
  display: block;
  margin-top: 15px;
  line-height: 31px;
}
#left {
  padding: 30px;
  font-size: 16px;
}
p {
  word-wrap: break-word;
  width: 700px;
  margin-left: 30px;
  font-size: 14px;
  padding-bottom: 40px;
  line-height: 1.5em;
}