@font-face {
  font-family: kollektifbold;
  src: url(/assets/Kollektif.ttf);
}

#app {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    font-family: kollektifbold;
}

#Home {
  border-radius: 100px;
  font-family : inherit;
}

#right-side {
    background-color: #add8e6;
    grid-area: 1 / 2 / 2/ 3;
    box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: inset 0 0 5px #dddddd;
}
#left-side {
    background-color: #FFFFFF;
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 100px;
}
#Home {
  background-color: #7275a5;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 49px;
  right: 60px;
  height: 40px;
  width: 160px;
}
#Login-Title {
  font-size: 40px;
  color: #add8e6;
}
#left-line {
  height: 5px;
  width: 240px;
  background-color: #add8e6;
  color: #add8e6;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 0;
}
#Scholar-Search-Logo {
  text-align: right;
}
img {
  width: auto;
  height: 112px;
  margin-right: 40px;
  top: 20px;
  position: relative;
}
h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.left {
  color: #add8e6;
}
.input {
  width: 260px;
  font-family : inherit;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  box-shadow: #000000;
}
h1 {
  color: #add8e6;
  font-size: 36px;
}
#Login-Button {
  background-color: #7275a5;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  margin-top: 50px;
  font-family : inherit;
}
.switch {
  width: 75px;
  height: 40px;
  color: #add8e6;
  right: 60px;
  background-color: #7275a5;
  margin-top: 250px;
}

.switch:hover{
  background-color: #7275a5
}

.bx-bxs-moon {
  content: url('https://api.iconify.design/bx-bxs-moon.svg?color=White&height=20');
  vertical-align: -0.125em;
}
.bx-bxs-sun {
  content: url('https://api.iconify.design/bx-bxs-sun.svg?height=20');
  vertical-align: -0.125em;
}
#Register-Title {
  color: white;
  margin-left: 100px;
}
#right-line {
  height: 5px;
  width: 240px;
  background-color: #ffffff;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 100px;
}
.right {
  color: #ffffff;
  margin-left: 100px;
}
.right-side {
  margin-left: 100px;
  border-radius: 20px;
}

#Create-Account {
  border-radius: 20px;
  height: 40px;
  width: 160px;
  margin-left: 100px;
  margin-top: 50px;
  font-family: inherit;
  margin-bottom: 25px;
}
p {
  font-size: 12;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 50px;
}
#message {
  margin-top: 50px;
}
.dark-mode-app {
  background: rgba(0, 0, 0, 0.8);
}

#email {
  box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: inset 0 0 5px #dddddd;
  border-radius: 20px;
}

#password {
  box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: inset 0 0 5px #dddddd;
  border-radius: 20px;
}