<!DOCTYPE html>
<html>

<head>
  <link href="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.css" rel="stylesheet">
  <link href="profile.css" rel="stylesheet">
  <link href="index.html">
  <link href="aboutus.html">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ScholarSearch</title>

  <!--Background-->
  <style>
    body {
      background-image: url('/assets/profilebg.png');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: 100% 100%;
    }
  </style>

</head>

<body>
  <div id="app"> 

    <!--Navigation-->
    <nav>
      <vs-navbar
        id="navbar"
        v-model="active"
        fixed
        color="#add8e6"
        text-white
        square
        center-collapsed
      >

        <template #left>
          <p id="header-logo">
            ScholarSearch
          </p>
        </template>

        <div id="titles">
          <vs-navbar-item class="navtext" :active="active == 'Home'" onclick="document.location='./'">
            Home
          </vs-navbar-item>
          <vs-navbar-item class="navtext" :active="active == 'About Us'" onclick="document.location='./aboutus.html'">
            About Us
          </vs-navbar-item>
          <vs-navbar-item class="navtext" :active="active == 'Browse'" onclick="document.location='./browse.html'">
            Browse
          </vs-navbar-item>
          <vs-navbar-item class="navtext" :active="active == 'For You'" onclick="document.location='./foryou.html'">
            For You
          </vs-navbar-item>
        </div>

        <template #right>

          <!--Dropdown Avatar-->
          <div class="dropdown">
            <button class="avatar" @click="profileDropdown()">
              {{userInitial}}
            </button>
            <div id="myDropdown" class="dropdown-content">
              <a href="profile.html">Profile</a>
              <a href="bookmarks.html">My Bookmarks</a>
              <a @click="logout()" id="logout">Logout</a>
            </div>
          </div>

        </template>

      </vs-navbar>
    </nav>

    <!--Main Page-->
    <main>

      <!--Title-->
      <h1>
        Hello, {{user.name}}!
      </h1>
      <h2>
        Your Profile
      </h2>

      <!--Profile Information-->
      <div class="scholarships">
        <div class="scholarship-card">

          <!--Name-->
          <h3 id="name">
            Name:
          </h3>
          <vs-input
            id="email"
            v-model="value"
            class="input"
            shadow
            v-bind:placeholder="getUserName()"
            type="text"
          >
          </vs-input>

          <!--Email-->
          <h3>
            Email:
          </h3>
          <vs-input
            color="#add8e6"
            id="email"
            class="input"
            shadow
            disabled
            v-bind:placeholder="getUserEmail()"
            type="password"
          >
          </vs-input>

          <!--Password-->
          <h3>
            Password:
          </h3>
          <vs-input
            id="password"
            class="input"
            shadow
            disabled
            v-bind:placeholder="getUserPassword()"
            type="text"
          >
          </vs-input>

          <!--University-->
          <h3>
            Preferred University:
          </h3>
          <vs-select
            v-model="value3"
            v-bind:placeholder="getUserUniversity()"
            class="drop"
          >
            <vs-option label="Algoma University" value="Algoma University">
              Algoma University
            </vs-option>
            <vs-option label="Brock University" value="Brock University">
              Brock University
            </vs-option>
            <vs-option label="Carleton University" value="Carleton University">
              Carleton University
            </vs-option>
            <vs-option label="University of Guelph" value="University of Guelph">
              University of Guelph
            </vs-option>
            <vs-option label="University of Guelph-Humber" value="University of Guelph-Humber">
              University of Guelph-Humber
            </vs-option>
            <vs-option label="Université de Hearst" value="Université de Hearst">
              Université de Hearst
            </vs-option>
            <vs-option label="Lakehead University" value="Lakehead University">
              Lakehead University
            </vs-option>
            <vs-option label="Laurentian University" value="Laurentian University">
              Laurentian University
            </vs-option>
            <vs-option label="McMaster University" value="McMaster University">
              McMaster University
            </vs-option>
            <vs-option label="Nipissing University" value="Nipissing University">
              Nipissing University
            </vs-option>
            <vs-option label="OCAD University" value="OCAD University">
              OCAD University
            </vs-option>
            <vs-option label="Université de l'Ontario" value="Université de l'Ontario">
              Université de l'Ontario
            </vs-option>
            <vs-option label="Ontario Tech University" value="Ontario Tech University">
              Ontario Tech University
            </vs-option>
            <vs-option label="University of Ottawa" value="University of Ottawa">
              University of Ottawa
            </vs-option>
            <vs-option label="Saint Paul University" value="Saint Paul University">
              Saint Paul University
            </vs-option>
            <vs-option label="Queen's University" value="Queen's University">
              Queen's University
            </vs-option>
            <vs-option label="Royal Military College of Canada" value="Royal Military College of Canada">
              Royal Military College of Canada
            </vs-option>
            <vs-option label="Ryerson University" value="Ryerson University">
              Ryerson University
            </vs-option>
            <vs-option label="Toronto University" value="Toronto University">
              Toronto University
            </vs-option>
            <vs-option label="Trent University" value="Trent University">
              Trent University
            </vs-option>
            <vs-option label="Waterloo University" value="Waterloo University">
              Waterloo University
            </vs-option>
            <vs-option label="Conrad Gebrel University" value="Conrad Gebrel University">
              Conrad Gebrel University
            </vs-option>
            <vs-option label="Renison University" value="Renison University">
              Renison University
            </vs-option>
            <vs-option label="St Jerome's University" value="St Jerome's University">
              St Jerome's University
            </vs-option>
            <vs-option label="St Paul's University" value="St Paul's University">
              St Paul's University
            </vs-option>
            <vs-option label="Western University" value="Western University">
              Western University
            </vs-option>
            <vs-option label="Huron University" value="Huron University">
              Huron University
            </vs-option>
            <vs-option label="King's University" value="King's University">
              King's University
            </vs-option>
            <vs-option label="Wilfred Laurier University" value="Wilfred Laurier University">
              Wilfred Laurier University
            </vs-option>
            <vs-option label="University of Windsor" value="University of Windsor">
              University of Windsor
            </vs-option>
            <vs-option label="York University" value="York University">
              York University
            </vs-option>
          </vs-select>

          <!--Discipline-->
          <h3>
            Discipline:
          </h3>
          <vs-select
            v-model="value7"
            class="drop"
            v-bind:placeholder="getUserDiscipline()"
          >
            <vs-option label="Animal, Plants, and Food Studies" value="Animal, Plants, and Food Studies">
              Animal, Plants, and Food Studies
            </vs-option>
            <vs-option label="Architecture" value="Architecture">
              Architecture
            </vs-option>
            <vs-option label="Arts and Design" value="Arts and Design">
              Arts and Design
            </vs-option>
            <vs-option label="Biology" value="Biology">
              Biology
            </vs-option>
            <vs-option label="Business" value="Business">
              Business
            </vs-option>
            <vs-option label="Computer Science" value="Computer Science">
              Computer Science
            </vs-option>
            <vs-option label="Cultures and Languages" value="Cultures and Languages">
              Cultures and Languages
            </vs-option>
            <vs-option label="Education" value="Education">
              Education
            </vs-option>
            <vs-option label="Engineering" value="Engineering">
              Engineering
            </vs-option>
            <vs-option label="Historical, Philosophical, and Religious Studies" value="Historical, Philosophical, and Religious Studies">
              Historical, Philosophical, and Religious Studies
            </vs-option>
            <vs-option label="Mass Communications" value="Mass Communications">
              Mass Communications
            </vs-option>
            <vs-option label="Mathematics" value="Mathematics">
              Mathematics
            </vs-option>
            <vs-option label="Medicine" value="Medicine">
              Medicine
            </vs-option>
            <vs-option label="Physical Sciences" value="Physical Sciences">
              Physical Sciences
            </vs-option>
            <vs-option label="Social Sciences" value="Social Sciences">
              Social Sciences
            </vs-option>
            <vs-option label="Technology" value="Technology">
              Technology
            </vs-option>
          </vs-select>
          <vs-button id="savechanges" @click=editProfile()>
            Save Changes
          </vs-button>
        </div>
      </div>

      <!--Extra Options-->
      <div id="outer">
        <div class="inner">
          <div id="bookmarking">
          <vs-button id="bookmarks" color="#7275a5" onclick="document.location='./bookmarks.html'">
          View My Bookmarks
          </vs-button>
          <button id="bookmark-counter">
            2
          </button>
          </div>
        </div>
        <div class="inner">
          <vs-button id="logout" @click="logout()">
            Logout
          </vs-button>
        </div>
      </div>
    </main>

    <!--Darkmode Switch-->
    <vs-switch
      v-model="active5"
      class="switch"
      color="#add8e6"
    >
      <template #off>
        <i class="bx-bxs-moon"></i>
      </template>
      <template #on>
        <i class="bx-bxs-sun"></i>
      </template>
    </vs-switch>

    <!--Footer-->
    <footer>
      <img id="Footer-Logo" src="/assets/darkmodelogo.png" alt="ScholarSearch Logo">
      <button id="footer-home" class="footer-text" onclick="document.location='./'">
        Home
      </button>
      <button id="footer-about" class="footer-text" onclick="document.location='./aboutus.html'">
        About Us
      </button>
      <button id="footer-for" class="footer-text" onclick="document.location='./browse.html'">
        Browse
      </button>
      <button id="footer-profile" class="footer-text" onclick="document.location='./foryou.html'">
        For You
      </button>
      <button id="footer-bookmark" class="footer-text" onclick="document.location='./bookmarks.html'">
        Bookmarks
      </button>
    </footer>
  </div>

  <!--JavaScript Code that was unable to be configured in the .js files-->
  <script>

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.avatar')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.js"></script>
  <script src="profile.js"></script>

</body>

</html>