<!DOCTYPE html>
<html>
<head>
  <link href="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.css" rel="stylesheet">
  <link href="browse.css" rel="stylesheet">
  <link href="index.html">
  <link href="aboutus.html">
  <link rel="shortcut icon" href="#">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ScholarSearch</title>
</head>
<body>
  <div id="app">
    <!--Browse Page-->
    <nav>
      <!--Navigation Bar-->
        <vs-navbar
          id="navbar"
          v-model="active"
          fixed
          text-white
          square
          center-collapsed
        >
        <!--Logo-->
          <template #left>
            <p id="header-logo">
              ScholarSearch
            </p>
          </template>

          <!--Titles-->
          <div id="titles">
            <vs-navbar-item class="navtext" :active="active == 'Home'" onclick="document.location='./'">
              Home
            </vs-navbar-item>
            <vs-navbar-item class="navtext" :active="active == 'About Us'" onclick="document.location='./aboutus.html'">
              About Us
            </vs-navbar-item>
            <vs-navbar-item class="navtext" :active="active == 'For You'" onclick="document.location='./foryou.html'">
              For You
            </vs-navbar-item>
          </div>

          <!--Avatar and Dropdown-->
          <template #right>
            <div class="dropdown">
            <button class="avatar" @click="profileDropdown()">
              {{userInitial}}
            </button>
            <div id="myDropdown" class="dropdown-content">
              <a href="profile.html">Profile</a>
              <a href="bookmarks.html">My Bookmarks</a>
              <a @click="logout()" id="logout">Logout</a>
            </div>
          </div>
          </template>
        </vs-navbar>
      </nav>

      <!--Main Text-->
      <main>

        <!--Title-->
        <h1>
          Browse
        </h1>
        <!--Subtitle-->
        <h2>
          Your one stop shop for <b>all</b> Ontario Universities
        </h2>

        <!--Search Bar and Button-->
        <div id="searching">
          <vs-input
            v-model="searchQuery"
            class="search"
            shadow
            placeholder="Search for Scholarships"
            type="text"
          >
          </vs-input>
          <button id="search-button"></button>
        </div>

        <!--Scholarship and Sorting/Filtering Grid Section-->
        <div id="grid-section">

          <!--Sorting Dropdown-->
          <div id="Sort">
            <vs-select
              v-model="sorting"
              class="Sort-By"
              shadow
              placeholder="Sort By"
            >
              <vs-option label="Closest Deadline" value="Closest Deadline">
                Closest Deadline
              </vs-option>
              <vs-option label="Furthest Deadline" value="Furthest Deadline">
                Furthest Deadline
              </vs-option>
              <vs-option label="Highest Value" value="Highest Value">
                Highest Value
              </vs-option>
              <vs-option label="Lowest Value" value="Lowest Value">
                Lowest Value
              </vs-option>
              <vs-option label="Highest Popularity" value="Highest Popularity">
                Highest Popularity
              </vs-option>
              <vs-option label="Lowest Popularity" value="Lowest Popularity">
                Lowest Popularity
              </vs-option>
              <vs-option label="Alphabetical" value="Alphabetical">
                Alphabetical
              </vs-option>
              <vs-option label="Highest Availability" value="Highest Availability">
                Highest Availability
              </vs-option>
              <vs-option label="Lowest Availability" value="Lowest Availability">
                Lowest Availability
              </vs-option>
            </vs-select>
          </div>

          <!--University Filtering Dropdown-->
          <div id="Filter">
            <vs-select
              v-model="filterUniversity"
              filter
              multiple
              placeholder="University"
              class="University"
            >
              <vs-option label="Algoma University" value="Algoma University">
                Algoma University
              </vs-option>
              <vs-option label="Brock University" value="Brock University">
                Brock University
              </vs-option>
              <vs-option label="Carleton University" value="Carleton University">
                Carleton University
              </vs-option>
              <vs-option label="University of Guelph" value="University of Guelph">
                University of Guelph
              </vs-option>
              <vs-option label="University of Guelph-Humber" value="University of Guelph-Humber">
                University of Guelph-Humber
              </vs-option>
              <vs-option label="Université de Hearst" value="Université de Hearst">
                Université de Hearst
              </vs-option>
              <vs-option label="Lakehead University" value="Lakehead University">
                Lakehead University
              </vs-option>
              <vs-option label="Laurentian University" value="Laurentian University">
                Laurentian University
              </vs-option>
              <vs-option label="McMaster University" value="McMaster University">
                McMaster University
              </vs-option>
              <vs-option label="Nipissing University" value="Nipissing University">
                Nipissing University
              </vs-option>
              <vs-option label="OCAD University" value="OCAD University">
                OCAD University
              </vs-option>
              <vs-option label="Université de l'Ontario" value="Université de l'Ontario">
                Université de l'Ontario
              </vs-option>
              <vs-option label="Ontario Tech University" value="Ontario Tech University">
                Ontario Tech University
              </vs-option>
              <vs-option label="University of Ottawa" value="University of Ottawa">
                University of Ottawa
              </vs-option>
              <vs-option label="Saint Paul University" value="Saint Paul University">
                Saint Paul University
              </vs-option>
              <vs-option label="Queen's University" value="Queen's University">
                Queen's University
              </vs-option>
              <vs-option label="Royal Military College of Canada" value="Royal Military College of Canada">
                Royal Military College of Canada
              </vs-option>
              <vs-option label="Ryerson University" value="Ryerson University">
                Ryerson University
              </vs-option>
              <vs-option label="Toronto University" value="Toronto University">
                Toronto University
              </vs-option>
              <vs-option label="Trent University" value="Trent University">
                Trent University
              </vs-option>
              <vs-option label="Waterloo University" value="Waterloo University">
                Waterloo University
              </vs-option>
              <vs-option label="Conrad Gebrel University" value="Conrad Gebrel University">
                Conrad Gebrel University
              </vs-option>
              <vs-option label="Renison University" value="Renison University">
                Renison University
              </vs-option>
              <vs-option label="St Jerome's University" value="St Jerome's University">
                St Jerome's University
              </vs-option>
              <vs-option label="St Paul's University" value="St Paul's University">
                St Paul's University
              </vs-option>
              <vs-option label="Western University" value="Western University">
                Western University
              </vs-option>
              <vs-option label="Huron University" value="Huron University">
                Huron University
              </vs-option>
              <vs-option label="King's University" value="King's University">
                King's University
              </vs-option>
              <vs-option label="Wilfred Laurier University" value="Wilfred Laurier University">
                Wilfred Laurier University
              </vs-option>
              <vs-option label="University of Windsor" value="University of Windsor">
                University of Windsor
              </vs-option>
              <vs-option label="York University" value="York University">
                York University
              </vs-option>
            </vs-select>

            <!--Discipline Filtering Dropdown-->
            <vs-select
              v-model="filterDiscipline"
              class="Discipline"
              filter
              multiple
              placeholder="Discipline"
            >
            <vs-option label="All" value="All">
                All
            </vs-option>
              <vs-option label="Animal, Plants, and Food Studies" value="Animal, Plants, and Food Studies">
                Animal, Plants, and Food Studies
              </vs-option>
              <vs-option label="Architecture" value="Architecture">
                Architecture
              </vs-option>
              <vs-option label="Arts and Design" value="Arts and Design">
                Arts and Design
              </vs-option>
              <vs-option label="Business" value="Business">
                Business
              </vs-option>
              <vs-option label="Computer Science" value="Computer Science">
                Computer Science
              </vs-option>
              <vs-option label="Cultures and Languages" value="Cultures and Languages">
                Cultures and Languages
              </vs-option>
              <vs-option label="Education" value="Education">
                Education
              </vs-option>
              <vs-option label="Engineering" value="Engineering">
                Engineering
              </vs-option>
              <vs-option label="Historical, Philosophical, and Religious Studies" value="Historical, Philosophical and Religious Studies">
                Historical, Philosophical, and Religious Studies
              </vs-option>
              <vs-option label="Mass Communications" value="Mass Communications">
                Mass Communications
              </vs-option>
              <vs-option label="Mathematics" value="Mathematics">
                Mathematics
              </vs-option>
              <vs-option label="Medicine" value="Medicine">
                Medicine
              </vs-option>
              <vs-option label="Physical Sciences" value="Physical Sciences">
                Physical Sciences
              </vs-option>
              <vs-option label="Social Sciences" value="Social Sciences">
                Social Sciences
              </vs-option>
              <vs-option label="Technology" value="Technology">
                Technology
              </vs-option>
            </vs-select>

            <!--Renewable Filtering Dropdown-->
            <vs-select
              v-model="filterRenewable"
              class="Renewable"
              placeholder="Renewable"
              multiple
              filter
            >
              <vs-option label="Yes" value="Yes">
                Yes
              </vs-option>
              <vs-option label="No" value="No">
                No
              </vs-option>
            </vs-select>

            <!--Level of Education Filtering Dropdown-->
            <vs-select
              v-model="filterLevel"
              class="Level"
              multiple
              filter
              placeholder="Level of Education"
            >
              <vs-option label="Undergraduate" value="Undergraduate">
                Undergraduate
              </vs-option>
              <vs-option label="Master's" value="Master's">
                Master's
              </vs-option>
              <vs-option label="Doctorate" value="Doctorate">
                Doctorate
              </vs-option>
            </vs-select>

            <!--Supplemental Application Filtering Dropdown-->
            <vs-select
              v-model="filterSupplemental"
              class="Application"
              multiple
              filter
              placeholder="Application Required"
            >
              <vs-option label="Yes" value="Yes">
                Yes
              </vs-option>
              <vs-option label="No" value="No">
                No
              </vs-option>
            </vs-select>
          </div>

          <!--Individual Scholarship Cards-->
          <div id="scholarship-list">
            <div id="scholarship-card" v-for="scholarship in dynamicArray" v-bind:key="scholarship.id">
              <h3>
                {{ scholarship.name }}
              </h3>
              <h4>
                {{scholarship.date}}
              </h4>
              <h5>
                Renewable: {{scholarship.renewable}}
              </h5>
              <h5 id="university-name">
                {{scholarship.university}}
              </h5>
              <h5 id="discipline-name">
                {{scholarship.discipline}}
              </h5>
              <h5 id="amount">
                ${{scholarship.value}}
              </h5>
              <h6 id="right-top">
                Quantity: {{scholarship.numSpots}}<br>Level: {{scholarship.level}}
              </h6>
              <h6 id="left">
                Application Required: {{scholarship.supplemental}}
              </h6>
              <p>
                {{scholarship.description}}
              </p>

              <!--Bookmark Button-->
              <div id="bookmarking">
                <button id="bookmark-button" @click="buttonClicked(scholarship.id)">
                  <template v-if="!bookmarked[scholarship.id - 1]">
                    <i class=bookmark-icon> </i>
                  </template>
                  <template v-if="bookmarked[scholarship.id - 1]">
                    <i class=bookmark-filled></i>
                </template>
                </button>
                <!--Bookmark Button Number Display-->
                <button id="bookmark-counter">
                  {{scholarship.numBookmarks}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!--Light/Dark Mode Switch-->
      <vs-switch
        v-model="themeSwitch"
        class="switch"
        color="#add8e6"
        @click ="theme()"
      >
        <template #off>
          <i class="bx-bxs-moon"></i>
        </template>
        <template #on>
          <i class="bx-bxs-sun"></i>
        </template>
      </vs-switch>

      <!--Back to Top Button-->
      <button onclick="topFunction()" id="backtotop"></button>

      <!--Footer-->
      <footer>

        <!--Footer Logo-->
        <img id="Footer-Logo" src="/assets/darkmodelogo.png" alt="ScholarSearch Logo">

        <!--Footer Buttons-->
        <button id="footer-home" class="footer-text" onclick="document.location='./'">
          Home
        </button>
        <button id="footer-about" class="footer-text" onclick="document.location='./aboutus.html'">
          About Us
        </button>
        <button id="footer-for" class="footer-text" onclick="document.location='./foryou.html'">
          For You
        </button>
        <button id="footer-profile" class="footer-text" onclick="document.location='./profile.html'">
          Profile
        </button>
        <button id="footer-bookmark" class="footer-text" onclick="document.location='./bookmarks.html'">
          Bookmarks
        </button>
    </footer>
  </div>

  <!--JavaScript Code that was unable to be configured in the .js files-->
  <script>
    //Get the button
    var mybutton = document.getElementById("backtotop");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 100) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.avatar')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="test.js"></script>
</body>
</html>